<%- contentFor('container') %>
<div class="container flex-column">
    <p class="error-message"><%= error %></p>
    <a href="javascript:history.back()">다시 시도하기</a>
</div>

<%- contentFor('script') %>