<% 
const pageTitle = '습관 기록 추가'; 
const container = `
<form action="/habbit_record_add" method="post">
  <figure>
    <p>
      <label for="">메모</label>
      <textarea name="content" id="" rows="5"></textarea>
    </p>

    <button type="submit">저장</button>
  </figure>
</form>
`; %> 

<%- include('basic', { pageTitle: pageTitle, container: container }) %>