<%- contentFor('container') %>

<h3>습관 추가</h3> 
<form action="/habit_add/<%= user_id %>" method="post">
  <figure>
    <p>
      <label for="">습관명</label>
      <input type="text" name="habit_name" />
    </p>
    <p>
      <label for="">시작일</label>
      <input type="date" name="start_date" />
    </p>
    <p>
        <label for="">종료일</label>
        <input type="date" name="end_date" />
      </p>
    <button type="submit">저장</button>
  </figure>
</form>

<%- contentFor('script') %>