<%- contentFor('container') %>
<div class="container">
  <div>
    <header class="habit-add-header">
      <h3 >습관 추가</h3>
      <a href="/habit_list/<%= user_id %>" class="habit-list-a">HABIT LIST</a>
    </header>
  <form action="/habit_add/<%= user_id %>" method="post" class="login-Form">
    <figure>
      <div class="form-group">
        <label for="">습관명</label>
        <input type="text" name="habit_name" />
      </div>
      <div class="form-group">
        <label for="">시작일</label>
        <input type="date" name="start_date" />
      </div>
      <div class="form-group">
          <label for="">종료일</label>
          <input type="date" name="end_date" />
        </div>
      <button type="submit">SAVE</button>
    </figure>
  </form>
  </div>
</div>

<%- contentFor('script') %>