<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>습관관리 Habit</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <style>
      button > a {
        text-decoration-line: none;
        color: white !important;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <h3><%= pageTitle %></h3> 
      <!-- 각 페이지 내용 -->
      <%- container %>
    </div>
  </body>
</html>

